#directions {
	display: block;
}

#wrongDiv {
	display: flex;
	justify-content: flex-start;
}

#wrongGuess {
	float: left;
	margin-left: 40%;
	padding-bottom: 15px;
}

#guessNum {
	padding-left: 7%;
	padding-bottom: 15px;
}

#underscoreDiv {
	font-size: 2em;
	padding-bottom: 20px;
}

#wrongLetter {
	clear: both;
}

body {
	background-color: pink;
	text-align: center;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
	padding-bottom: 30px;
}

p {
	display: inline;
}

