body {
	background-color: pink;
	text-align: center;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
	padding-bottom: 30px;
}

p {
	display: inline;
}

#directions {
	display: block;
}
#underscoreDiv {
	font-size: 2em;
	padding-bottom: 20px;
}

